<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container"><a class="navbar-brand" href="/">F8 Education</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="https://scontent.fhan17-1.fna.fbcdn.net/v/t39.30808-6/438252833_7859988607357241_3860393426423643832_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeEmz-TmS2M5WOh5Xxv1noAOUqpn75QfQ6dSqmfvlB9Dp0qt3NNibrQsYQEoHaH5JQmgPNPGe5w-LXoXvGJNz8Rs&_nc_ohc=w6Tps00SCnwQ7kNvgGgLtcL&_nc_ht=scontent.fhan17-1.fna&oh=00_AfD8kH3p2_mfa_v5BVSPYyT81dOUr-sQ8FheBDgx2eYVsQ&oe=6638DC26"
                            alt="" class="user-avatar">
                        luongtopp
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/courses/create">Đăng ký khóa học</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/me/stored/courses">Khóa học của tôi</a>
                    </div>
                </li>

            </ul>

        </div>
    </div>
</nav>